:root {
    --hei : calc(100vh / 1.05);
    --wit : calc(100vw / 3);
    --font : calc((100vw / 300) *  5);
    --border : calc((100vw / 300) * 2.5);
    --imghei : calc( ( 100vh / 1.5 ) / 2.4);
    --imgwit : calc( ( 100vw / 3 ) / 2 );
}
@media screen and (device-width < 1280px) {
    :root {
        --wit: calc( 100vw / 1.05 );
        --height: calc( 100vh / 1.25 );
        --font: calc( (100vw / 20) * 1 );
        --border: calc( (100vw / 150) * 5 );
        --imgwit: calc( (100vw / 6) );
        --imghei: calc( (100vh / 3) / 1.2 );
    }
}
/*
-------------------Планировка---------------------------------------------------------------------
height : 1080 / 1.5 ( 720px )
with : 1920 / 3 ( 640px )
font : 36px
border : 20px
--------------------------------------------------------------------------------------------------
*/
.testfont {
    position: absolute;
    font-size: var(--font);
    text-align: center;
    font-family: monospace;
    color: white;
    opacity: 1;
    top: 55%;
    left: 50%;
    transform: translate(-50%,0%);
}
img {
    width: 50vh;
    height: 50vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%,6.75%);
    border-radius: var(--border);
    pointer-events: none;
}
.title {
    position: absolute;
    border-radius: var(--border);
    border: 0.1vh gray solid;
    height: var(--hei);
    width: var(--wit);
    left: 50vw;
    top: 50vh;
    transform: translate(-50%,-35%);
    box-shadow: 0 0 40px gray;
    background-color: #282c34;
}
.tro , .too {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    background-color: #282c34;
}
body {
    background-color: #282c34;
    overflow: hidden;
}
.bi-play {
    position: absolute;
    top: 67.5%;
    left: 50%;
    transition: 0.5s opacity ease-in-out;
    transform: translate(-50%,0%);
    opacity: 1;
}
.bi-pause {
    position: absolute;
    top: 67.5%;
    left: 50%;
    transition: 0.5s opacity ease-in-out;
    transform: translate(-50%,0%);
    opacity: 0;
}
.hidden {
    opacity: 0;
    transition: 0.5s all ease-in-out;
}
.back {
    width: 100vw;
    height: 90vh;
    background-image: url("../img.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    filter: blur(5vw);
}
progress {
    position: absolute;
    width: 45vh;
    height: 1vh;
    left: 50%;
    transform: translate(-50%,0%);
    top: 65%;
    border-radius: var(--border);
    background-color: white;
    border: 0px;
    background-color: rgba(0,0,0,0);
    outline: solid 0.25px black;
    outline-offset: 0.5vh;
}
progress::-webkit-progress-bar {
    background-color: rgba(0,0,0,0);
}
progress::-webkit-progress-value {
    background-color: white;
    /*box-shadow: 0 0 20px white;*/
    border-radius: var(--border);
}