:root {
    --wit_hei : calc(100vw / 3)
}

@media screen and (device-width < 720px) {
    :root {
    --wit_hei: calc(100vw / 1.5);
}
}

@keyframes Corner {
    from {
        background-image: linear-gradient(0deg , rgba(70,70,70,0.75)25% , rgba(140,140,140,0.5)100%);
    }
}

body {
    background-color: #282c34;
}
#logpage {
    position: absolute;
    width: var(--wit_hei);
    background-color: transparent;
    height: var(--wit_hei);
    border-radius: var(--border);
    border: 1px solid gray;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 10000px #212121;
    -webkit-box-shadow: 0 0 10000px #212121;
    -moz-box-shadow: 0 0 10000px #212121;
    -o-box-shadow: 0 0 10000px #212121;
    transition: 0.5s all ease;
    animation: Corner 2.5s infinite;
}
#logpage:corner-present {
    background-color: white;
}

.inputBox {
    position: relative;
}

.inputBox input {
    padding: 15px 20px;
    outline: none;
    background: transparent;
    border-radius: 5px;
    color: #fff;
    border: 1px solid#ee8456;
    font-size: 1em;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 1em;
    transition: 0.4s cubic-bezier(0.05, 0.81, 0, 0.93);
    color: #ee8456;
    letter-spacing: 0.1em;
}

.llogPos {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-200%);

}
.ppassPos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.inputBox input:focus ~ span,
.inputBox input:valid ~ span {
    font-size: 0.7em;
    transform: translateX(14px) translateY(-7.5px);
    padding: 0 5px;
    border-radius: 2px;
    background: #212121;
    letter-spacing: 0em;
    border: 1px solid #ee8456;
}
button {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
    position: relative;
    font-size: 17px;
    background: #333;
    border: none;
    color: #fff;
    left: 50%;
    top: 60%;
    transform: translate(-50%,0%);
}

button:hover {
    letter-spacing: 0.25em;
    background: #ee8456;
    color: #ee8456;
    box-shadow: 0 0 45px #ee8456;
}

button::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #222222;
}

button span {
    position: relative;
    z-index: 1;
}

button i {
    position: absolute;
    inset: 0;
    display: block;
}

button i::before {
    content: '';
    position: absolute;
    border: 2px solid #ee8456;
    width: 7px;
    height: 4px;
    top: -3.5px;
    left: 80%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
}

button:hover i::before {
    width: 20px;
    left: 20%;
}

button i::after {
    content: '';
    position: absolute;
    border: 2px solid #ee8456;
    width: 7px;
    height: 4px;
    bottom: -3.5px;
    left: 20%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
}

button:hover i::after {
    width: 20px;
    left: 80%;
}
/* From Uiverse.io by Nawsome */
.clear {
    clear: both;
}

.checkBox {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px #fff;
}

.checkBox div {
    width: 60px;
    height: 60px;
    background-color: #fff;
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
}

.checkBox input[type=checkbox]:checked + div {
    left: -10px;
    top: -10px;
    background-image: linear-gradient(rgb());
}

.checkBox input[type=checkbox] {
    position: absolute;
    left: 50px;
    visibility: hidden;
}
.transition {
    transition: 300ms ease;
}

.customTestDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(100vw / 8);
    height: 50px;
    transform: translate(-50%,-150%);
}
.customTestDiv .customTest {
    position: absolute;
    background-color: transparent;
    border: 0.1vh solid darkorange;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.customTestDiv span {
    position: absolute;
    left: 2.5vw;
    top: 50%;
    transform: translate(-25%,-35%);
    pointer-events: none;
    font-family: monospace;
    color: darkorange;
    letter-spacing: 10px;
    font-weight: lighter;
    transition: 0.5s all ease;
    border: 1vh solid #282c34;
    font-size: 16px;
    
}
.customTestDiv .customTest:focus ~ span {
    outline: 0px;
    transform: translateY(-125%) translateX(-50%);
    background-color: #282c34;
    letter-spacing: 0;
    border: 1vh solid #282c34;
    border-radius: 1vh;
    transition: 0.5s all ease;
    outline: 1px solid darkorange;
    outline-offset: 0.1vh;

}
.customTestDiv .customTest:focus {
    outline: 0px;
}